/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.scss';
@import 'primeflex/themes/saga-blue.scss';
@import './assets/fonts/stylesheet.css';
@import 'primeicons/primeicons.css';
@import 'primereact/resources/primereact.min.css';

* {
	box-sizing: border-box;
}

:root {
	font-family: "Open Sans" !important;
}

.border-round-half {
	border-radius: 50px;
}

.bg-default-gradient {
	background: linear-gradient(177deg, rgba(29,41,146,1) 0%, rgba(47,128,237,1) 100%);
}

.p-input-icon-right>i {
	right: 2px
}

.w-1-5rem {
	width: 1.5rem;
}
.h-1-5rem {
	height: 1.5rem;
}
